{
    "presets": [
        "@babel/preset-env",
        ["@babel/preset-typescript", {"isTSX": true, "allExtensions": true}],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-react-jsx",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-regenerator",
        [
            "babel-plugin-import",
            {
               "libraryName": "@material-ui/core",
               "libraryDirectory": "",
               "camel2DashComponentName": false
            },
            "tree-shaking-mui-core"
        ],
        [
            "babel-plugin-import",
            {
               "libraryName": "@material-ui/system",
               "libraryDirectory": "",
               "camel2DashComponentName": false
            },
            "tree-shaking-mui-system"
        ],
        [
            "babel-plugin-import",
            {
               "libraryName": "@material-ui/lab",
               "libraryDirectory": "",
               "camel2DashComponentName": false
            },
            "tree-shaking-mui-lab"
        ],
        [
            "babel-plugin-import",
            {
               "libraryName": "@material-ui/core/styles",
               "libraryDirectory": "",
               "camel2DashComponentName": false
            },
            "tree-shaking-mui-styles"
        ],
        [
            "babel-plugin-import",
            {
               "libraryName": "@material-ui/core/colors",
               "libraryDirectory": "",
               "camel2DashComponentName": false
            },
            "tree-shaking-mui-colors"
        ],
        [
            "babel-plugin-import",
            {
               "libraryName": "@material-ui/icons",
               "libraryDirectory": "",
               "camel2DashComponentName": false
            },
            "tree-shaking-mui-icons"
        ],
        [
            "@babel/plugin-transform-runtime",
            {
                "absoluteRuntime": false,
                "corejs": false,
                "helpers": true,
                "regenerator": true,
                "useESModules": false
            }
        ]
    ]
}